
// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400&display=swap');

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fbfbfb;
$mainFont: 'Roboto', sans-serif;
$mainColor: #4a5568;
$headingFont: 'Nunito', sans-serif;
$headingColor: #0097a7;
// $headingColor: #756c83;
$headingLetterSpacing: -0.05em;
$headingTextShadow: none;

$codeFont: 'Roboto Mono', monospace;
$linkColor: #a1cb2c; //#71d4f1;

$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: #134674;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Fix links so they are not cut off
.reveal a {
	line-height: 1.3em;
}

.reveal .slides section.present.title {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.reveal .slides section.present {
  flex-direction: column;
  height: 80%;

  & > h2 {
    flex: 25%;
  }

  & > div.text-content {
    flex: 75%;
    align-self: center;
    & > * {
      margin-bottom: 1em;
    }
  }

  & > div.power {
    flex: 75%;

    & > img {
      width: 50%;
      height: auto;
    }
  }


}



section .multi-column {
  flex: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;

  &.image-right {
    margin-top: 1em;
    & > .content {
      flex: 67%;
    }

    & > .image {
      flex: 33%;
      align-self: center;
    }
  }

  &.equal {
    margin-top: 1em;
    & > .content {
      flex: 50%;
    }
    & > .image {
      flex: 50%;
      align-self: center;

      img {
        margin: 0;
        height: 75%;
      }
    }
  }
}

.reveal pre code {
  border-radius: 8px;
}

.reveal pre code.hide {
  display: none;
}

.reveal .text-content li > code, .reveal .text-content p > code {
  letter-spacing: -0.08em;
  font-weight: 400;
  color: #333;
}

.iframe-caption {
  position: absolute;
  width: 40%;
  right: 0;
  top: 300px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.5), 0 5px 25px rgba(0,0,0,0.2);
  background-color: rgba(117,108, 131, 0.85);
  border-radius: 4px;
  color: #fff;
  padding: 20px;
  font-size: 20px;
  text-align: left;
}


.social {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 45%;
  }
}

.title-overlay {
	position: absolute;
	bottom: 3%;
	left: 3%;
	width: 50%;
	span {
		font-family: 'Quicksand', sans-serif;
		color: #444f5a;
		margin-right: 2%;
	}
}

div.reveal.has-dark-background + div.title-overlay {
  span {
    color: #b9e1dc;
  }
}

@mixin bodyBackground() {
	background: $backgroundColor;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


